################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test2/.vs/test2/v15/Server/sqlite3/db.lock
